:root{
    --cor0: #696767;
    --cor1: #62eb84;
    --cor2: white;
    --cor3: #eeeded;
    --cor4: #a09e9e;
    --cor5: #000000;
    --fontes-padrao: Arial, Verdana, Helvetica, sans-serif ;
    --F1: 'PressStart';
    --F2: 'Saira';
}

#nav_projeto {
    color: var(--cor5);
    background-color: var(--cor1);
    transition-duration: 0.5s;    
}

*{
    color: white;
}

body{
    min-height:100vh;
}

#livro{
    background-image: url(imagens/book-library-with-open-textbook_2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#projetos{
    background-image: url(imagens/light-bulb-ideas-creative-diagram-concept.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parceiros{
    background-image: url(imagens/aperto-de-mao-2000px.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.project{
    padding: 5px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.project h2 {
    color: var(--cor5);
    text-shadow: 0.5px 1px #00000084;
    font-size: 3em;
}

.project a{
    text-decoration: none;
}

.project a p {
    padding: 0px;
    border: 0px;
    margin: auto;
    background-color: #e3d4d447;
    color: black;
    font-size: 1.5em;
    max-width: 300px;
}

.project img{
    height: 100px;
    width: 100px;
}
