body{
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

#contato div a img{
    background-color: rgb(94, 219, 94);
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 10%;
    border: 5px solid white
}

#contato p {
    font: normal 20px Helvetica;
}
#contato a {
    font: normal 25px Helvetica;
}

#contato {
    text-align: center;
}
.center{
    text-align: center;
}

.container{
    padding: 50px;
}

nav a:hover {
    color: green;
}