:root{
    --cor0: #696767;
    --cor1: #62eb84;
    --cor2: white;
    --cor3: #eeeded;
    --cor4: #a09e9e;
    --cor5: #000000;
    --fontes-padrao: Arial, Verdana, Helvetica, sans-serif ;
    --F1: 'PressStart';
    --F2: 'Saira';
}

#nav_contato {
    color: var(--cor5);
    background-color: var(--cor1);
    transition-duration: 0.5s;    
}

body{
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

#contato div a img{
    background-color: rgb(94, 219, 94);
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 10%;
    border: 5px solid white
}

#contato p {
    font: normal 20px Helvetica;
}
#contato a {
    font: normal 25px Helvetica;
}

#contato {
    text-align: center;
}
.center{
    text-align: center;
}

.container{
    padding: 50px;
}

nav a:hover {
    color: green;
}