@font-face {
    font-family: 'PressStart';
    src: url(fontes/PressStart2P-Regular.ttf) format('opentype');
    font-weight: normal;
}

body{
    min-height:100vh;
}

#escrita{
    font: 200pt;
    min-height: 100;
    max-width: 480px;
    text-align: center;
    margin: 60px auto;
    font-family: 'PressStart';
    color: #fff;
}

#escrita::after{
    text-align: center;
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite  ;
}

@keyframes pisca {
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
