body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a{
    color: white;
    text-decoration: none;
}

header div a img{
    background-color: rgb(94, 219, 94);
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 10%;
    border: 5px solid white
}

header p {
    font: normal 20px Helvetica;
}
header a {
    font: normal 25px Helvetica;
}

header {
    text-align: center;
}
.center{
    text-align: center;
}

footer img {
    width: 30px;
    height: 30px;
    border-radius: 30%;
    border: 5px solid rgb(255, 255, 255)
}

footer{
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

.container{
    padding: 50px;
}

nav a:hover {
    color: green;
}